* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
    height: 100%;
    overflow: hidden;


    display: grid;
    grid-template: 
        "nav nav  nav" auto
        "article    article article" 1fr
        "footer footer  footer" auto /
        auto    1fr     auto;

    background: #ffffff;
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}